@font-face {
    font-family: 'Ubuntu-Medium';
    src: url(fonts/Ubuntu/Ubuntu-Medium.ttf) format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Gagalin';
    src: url(fonts/Gagalin/Gagalin-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LifehackMedium';
    src: url(fonts/LifehackMedium.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}